p {
    font-size: 20pt;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

header {
    color: white !important;
    background: #7E0C16;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: left;
}

main {
    text-align: center;
}

nav {
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

nav>a {
    color: #D7C8C2;
    text-decoration: none;

}

.mainImage {
    max-width: 500px;
}

#headerGrapefruit {
    margin-right: 10px;
    max-height: 200px;
}