p {
    font-size: 20pt;
}

body {
    margin: 1em;
    color: white;
    background-color: black;
}

header {
    color: white !important;
    background: #7E0C16;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: left;
}

.mainImage {
    max-width: 500px;
}

#headerGrapefruit {
    margin-right: 10px;
    max-height: 200px;
}